@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
.About_container{
    width: 100vw;
    /* background-color: red; */
}
.about_content{
    font-family: 'Poppins', sans-serif;
}
.languages:hover{
    transition: var(--transition);
    border-color: var(--color-primary);
}
@media screen and (max-width: 1024px){
    
}
@media screen and (max-width: 600px){
    .About_card{
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 1.25rem;
    }
    .skills_card{
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 1.25rem;
    }
    .frameworks{
        margin-top: 2rem;
    }
}