.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background: #d6cccc;
  animation: AntiScroll;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  overflow-x: hidden;
  user-select: none;
}
::-webkit-scrollbar {
  display: none;
}

.Advert{
  position: absolute;
  top: 0px;
  background: rgb(14, 12, 12);
  color: rgb(255, 255, 255);
  z-index: 2;
  height: 100vh;
  width: 100vw;
}
.navbar{
  position: fixed;
  top: 0;
  z-index: 3;
}
@keyframes AntiScroll{
  0%{
    overflow: hidden;
  }
  100%{
    overflow-y: auto;
  }
}
